.card2{
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #FF6838;
    cursor: pointer;
    width: 200px;
    margin: 30px 12px 0;
    text-align: center;
    line-height: 30px;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}
.img2{
    width: 150px;
    height: 150px;
}
.card2 b{
    display: block;
}

